<li class="media">
  <div class="media-left">
    <%=image_tag 'http://placehold.it/50x50', :class => "media-object" %>
  </div>
  <div class="media-body">
    <p class="text-muted post-time-ago">
      <small><%= time_ago_in_words(event.updated_at) %> ago</small>
    </p>
    <%= image_tag event.eventable.location, :class => 'img-responsive' %>
    <div id="picture_<%= event.eventable_id %>_likes" class="text-left picture-likes">
      <%= render partial: 'pictures/likes', locals: {picture: event.eventable} %>
      <div id="picture_<%= event.eventable_id %>_comments">
	<%= render partial: 'comments/comments', locals: {comments: event.eventable.comments} %>
      </div>
      <%= render partial: 'comments/form', locals: {commentable: event.eventable} %>
      
    </div>
  </div>
</li>
