<li class="media">
  <div class="media-left">
    <%= image_tag 'http://placehold.it/50x50', :class => "media-object" %>
  </div>
  <div class="media-body">
    <h5 class="post-name-heading"><%= event.user.email %></h5>
    <p class="text-muted post-time-ago"><small><%= time_ago_in_words(event.updated_at) %> ago</small></p>
    <p><%= linked_users(event.eventable.body) %></p>
    <div id="post_<%= event.eventable_id %>_likes">
      <%= render partial: 'posts/likes', locals: {post: event.eventable} %>

      <div id="post_<%=event.eventable_id %>_comments">
        <%= render partial: 'comments/comments', locals: {comments: event.eventable.comments} %>
      </div>
      <%= render partial: 'comments/form', locals: {post: event.eventable} %>
    </div>
  </div>
</li>
