<li class="media">
  <div class="media-body">
    <h5><%= event.user.email %><small> shared <%= event.eventable.user.email %>'s post</small></h5>
    <div class="media-left">
      <%= image_tag 'http://placehold.it/50x50', :class => 'media-oject' %>
    </div>
    <div class="media-body">
      <p class="text-muted post-time-ago"><small><%= time_ago_in_words(event.updated_at) %> ago</small></p>
      <p><%= event.eventable.body %></p>
      <div id="post_<%= event.eventable_id %>_likes">
	<%= render partial: 'posts/likes', locals: {post: event.eventable} %>
	<div id="post_<%= event.eventable_id %>_comments">
	  <%= render partial: 'comments/comments', locals: {comments: event.eventable.comments} %>
	</div>
	<%= render partial: 'comments/form', locals: {commentable: event.eventable} %>
      </div>
    </div>
  </div>
</li>
