<p id="notice"><%= notice %></p>

<h1>Listing Albums</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.user_id %></td>
        <td><%= album.title %></td>
        <td><%= album.description %></td>



      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_user_album_path %>
