<%= form_for [@user, @picture] do |f| %>
  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <button class="btn btn-default post-submit" type="submit">Add</button>
  </div>


<!--  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
-->
<% end %>
