<%= form_for([@user, @picture], :html => {:class => "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label :album_id, "Add to Album", :class => "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.select "album_id", @albums.collect { |a| [a.title, a.id] }, {include_blank: true}, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :picture, :class => "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.file_field :location, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :caption, :class => "col-sm-3 control-label" %>
    <div class="col-sm-6">
      <textarea name="picture[caption]" data-behavior="user-mention-field" class="form-control" rows="5"></textarea>
    </div>
  </div>
  <div class="actions">
    <button class="btn btn-default post-submit" type="submit">Add</button>
  </div>


<!--  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
-->
<% end %>
